In [2]:
import pandas as pd
import data_fusion_transformation as dft
from data_preprocessing import datetime_format

def init_dt(dt_str):
	return dft.init_date_object(dt_str, datetime_format)
	
df = pd.read_csv("471_0_all_data.csv")
df['dt'] = df['Date'].apply(init_dt)
df.drop(['Date'], axis = 'columns', ibplace = True)

TypeError: drop() got an unexpected keyword argument 'ibplace'

In [ ]:
df

In [3]:
import pandas as pd
import data_fusion_transformation as dft
from data_preprocessing import datetime_format

def init_dt(dt_str):
	return dft.init_date_object(dt_str, datetime_format)
	
df = pd.read_csv("471_0_all_data.csv")
df['dt'] = df['Date'].apply(init_dt)
df.drop(['Date'], axis = 'columns', inplace = True)

In [4]:
df.dtypes

 Speed             int64
dt        datetime64[ns]
dtype: object

In [5]:
df['school'] = df['dt'].apply(dft.is_it_school_day_2017)

In [6]:
df.dtypes

 Speed             int64
dt        datetime64[ns]
school             int64
dtype: object

In [7]:
df

         Speed                  dt  school
0           88 2017-01-01 00:00:00       0
1           85 2017-01-01 00:03:00       0
2           91 2017-01-01 00:05:00       0
3           89 2017-01-01 01:08:00       0
4           91 2017-01-01 01:09:00       0
5           93 2017-01-01 01:10:00       0
6           93 2017-01-01 01:11:00       0
7           92 2017-01-01 01:12:00       0
8           91 2017-01-01 01:13:00       0
9           92 2017-01-01 01:15:00       0
10          92 2017-01-01 01:16:00       0
11          92 2017-01-01 01:17:00       0
12          85 2017-01-01 01:18:00       0
13          91 2017-01-01 01:19:00       0
14          93 2017-01-01 01:20:00       0
15          93 2017-01-01 01:21:00       0
16          93 2017-01-01 01:22:00       0
17          93 2017-01-01 01:23:00       0
18          95 2017-01-01 01:24:00       0
19          94 2017-01-01 01:25:00       0
20          92 2017-01-01 01:26:00       0
21          90 2017-01-01 01:27:00       0
22          90 2017-01-01 01:28:00       0
23          90 2017-01-01 01:29:00       0
24          91 2017-01-01 01:30:00       0
25          92 2017-01-01 01:31:00       0
26          92 2017-01-01 01:32:00       0
27          93 2017-01-01 01:33:00       0
28          93 2017-01-01 01:34:00       0
29          93 2017-01-01 01:35:00       0
...        ...                 ...     ...
494515     103 2017-08-30 13:07:00       0
494516     102 2017-08-30 13:08:00       0
494517     101 2017-08-30 13:09:00       0
494518     103 2017-08-30 13:10:00       0
494519     102 2017-08-30 13:11:00       0
494520     100 2017-08-30 13:12:00       0
494521     100 2017-08-30 13:13:00       0
494522     100 2017-08-30 13:14:00       0
494523     100 2017-08-30 13:15:00       0
494524     100 2017-08-30 13:16:00       0
494525      91 2017-08-30 13:17:00       0
494526     100 2017-08-30 13:18:00       0
494527     100 2017-08-30 13:19:00       0
494528     100 2017-08-30 13:20:00       0
494529     103 2017-08-30 13:21:00       0
494530     105 2017-08-30 13:22:00       0
494531     105 2017-08-30 13:23:00       0
494532     105 2017-08-30 13:24:00       0
494533     105 2017-08-30 13:25:00       0
494534     105 2017-08-30 13:26:00       0
494535     105 2017-08-30 13:27:00       0
494536     105 2017-08-30 13:28:00       0
494537     105 2017-08-30 13:29:00       0
494538     105 2017-08-30 13:30:00       0
494539     105 2017-08-30 13:31:00       0
494540     103 2017-08-30 13:32:00       0
494541     103 2017-08-30 13:33:00       0
494542     103 2017-08-30 13:34:00       0
494543     102 2017-08-30 13:35:00       0
494544     102 2017-08-30 13:36:00       0

[494545 rows x 3 columns]

In [8]:
df[df['school'] == 1]

         Speed                  dt  school
1360        97 2017-03-29 13:20:00       1
1361        97 2017-03-29 13:21:00       1
1362        94 2017-03-29 13:22:00       1
1363        93 2017-03-29 13:23:00       1
1364        95 2017-03-29 13:24:00       1
1365        93 2017-03-29 13:25:00       1
1366        93 2017-03-29 13:26:00       1
1367        94 2017-03-29 13:27:00       1
1368        89 2017-03-29 13:28:00       1
1369        89 2017-03-29 13:29:00       1
1370        93 2017-03-29 13:30:00       1
1371        92 2017-03-29 13:31:00       1
1372        92 2017-03-29 13:32:00       1
1373        92 2017-03-29 13:33:00       1
1374        91 2017-03-29 13:34:00       1
1375        90 2017-03-29 13:35:00       1
1376        87 2017-03-29 13:36:00       1
1377        89 2017-03-29 13:37:00       1
1378        88 2017-03-29 13:38:00       1
1379        89 2017-03-29 13:39:00       1
1380        97 2017-03-29 13:40:00       1
1381        84 2017-03-29 13:41:00       1
1382        93 2017-03-29 13:42:00       1
1383        95 2017-03-29 13:43:00       1
1384        91 2017-03-29 13:44:00       1
1385        90 2017-03-29 13:45:00       1
1386        90 2017-03-29 13:46:00       1
1387        90 2017-03-29 13:47:00       1
1388        93 2017-03-29 13:48:00       1
1389        94 2017-03-29 13:49:00       1
...        ...                 ...     ...
494031     101 2017-03-29 12:50:00       1
494032      98 2017-03-29 12:51:00       1
494033      99 2017-03-29 12:52:00       1
494034      99 2017-03-29 12:53:00       1
494035      99 2017-03-29 12:54:00       1
494036      97 2017-03-29 12:55:00       1
494037      98 2017-03-29 12:56:00       1
494038      96 2017-03-29 12:57:00       1
494039      95 2017-03-29 12:58:00       1
494040      95 2017-03-29 12:59:00       1
494041      97 2017-03-29 13:00:00       1
494042      96 2017-03-29 13:01:00       1
494043      96 2017-03-29 13:02:00       1
494044      95 2017-03-29 13:03:00       1
494045      97 2017-03-29 13:04:00       1
494046      96 2017-03-29 13:05:00       1
494047      96 2017-03-29 13:06:00       1
494048      95 2017-03-29 13:07:00       1
494049      96 2017-03-29 13:08:00       1
494050      96 2017-03-29 13:09:00       1
494051      99 2017-03-29 13:10:00       1
494052      97 2017-03-29 13:11:00       1
494053      95 2017-03-29 13:12:00       1
494054      96 2017-03-29 13:13:00       1
494055      96 2017-03-29 13:14:00       1
494056      96 2017-03-29 13:15:00       1
494057      97 2017-03-29 13:16:00       1
494058      96 2017-03-29 13:17:00       1
494059      99 2017-03-29 13:18:00       1
494060      97 2017-03-29 13:19:00       1

[231438 rows x 3 columns]

In [9]:
df['hour'] = df['dt'].apply(dft.divide_hours)

In [10]:
df

         Speed                  dt  school  hour
0           88 2017-01-01 00:00:00       0     0
1           85 2017-01-01 00:03:00       0     0
2           91 2017-01-01 00:05:00       0     0
3           89 2017-01-01 01:08:00       0     0
4           91 2017-01-01 01:09:00       0     0
5           93 2017-01-01 01:10:00       0     0
6           93 2017-01-01 01:11:00       0     0
7           92 2017-01-01 01:12:00       0     0
8           91 2017-01-01 01:13:00       0     0
9           92 2017-01-01 01:15:00       0     0
10          92 2017-01-01 01:16:00       0     0
11          92 2017-01-01 01:17:00       0     0
12          85 2017-01-01 01:18:00       0     0
13          91 2017-01-01 01:19:00       0     0
14          93 2017-01-01 01:20:00       0     0
15          93 2017-01-01 01:21:00       0     0
16          93 2017-01-01 01:22:00       0     0
17          93 2017-01-01 01:23:00       0     0
18          95 2017-01-01 01:24:00       0     0
19          94 2017-01-01 01:25:00       0     0
20          92 2017-01-01 01:26:00       0     0
21          90 2017-01-01 01:27:00       0     0
22          90 2017-01-01 01:28:00       0     0
23          90 2017-01-01 01:29:00       0     0
24          91 2017-01-01 01:30:00       0     0
25          92 2017-01-01 01:31:00       0     0
26          92 2017-01-01 01:32:00       0     0
27          93 2017-01-01 01:33:00       0     0
28          93 2017-01-01 01:34:00       0     0
29          93 2017-01-01 01:35:00       0     0
...        ...                 ...     ...   ...
494515     103 2017-08-30 13:07:00       0     3
494516     102 2017-08-30 13:08:00       0     3
494517     101 2017-08-30 13:09:00       0     3
494518     103 2017-08-30 13:10:00       0     3
494519     102 2017-08-30 13:11:00       0     3
494520     100 2017-08-30 13:12:00       0     3
494521     100 2017-08-30 13:13:00       0     3
494522     100 2017-08-30 13:14:00       0     3
494523     100 2017-08-30 13:15:00       0     3
494524     100 2017-08-30 13:16:00       0     3
494525      91 2017-08-30 13:17:00       0     3
494526     100 2017-08-30 13:18:00       0     3
494527     100 2017-08-30 13:19:00       0     3
494528     100 2017-08-30 13:20:00       0     3
494529     103 2017-08-30 13:21:00       0     3
494530     105 2017-08-30 13:22:00       0     3
494531     105 2017-08-30 13:23:00       0     3
494532     105 2017-08-30 13:24:00       0     3
494533     105 2017-08-30 13:25:00       0     3
494534     105 2017-08-30 13:26:00       0     3
494535     105 2017-08-30 13:27:00       0     3
494536     105 2017-08-30 13:28:00       0     3
494537     105 2017-08-30 13:29:00       0     3
494538     105 2017-08-30 13:30:00       0     3
494539     105 2017-08-30 13:31:00       0     3
494540     103 2017-08-30 13:32:00       0     3
494541     103 2017-08-30 13:33:00       0     3
494542     103 2017-08-30 13:34:00       0     3
494543     102 2017-08-30 13:35:00       0     3
494544     102 2017-08-30 13:36:00       0     3

[494545 rows x 4 columns]

In [11]:
def return_month(date):
    return date.month

In [12]:
df['month'] = df['dt'].apply(return_month)

In [13]:
df.dtypes

 Speed             int64
dt        datetime64[ns]
school             int64
hour               int64
month              int64
dtype: object

In [15]:
df['holiday'] = df['dt'].apply(dft.prepare_holidays_2017)

In [16]:
type(df.values)

numpy.ndarray

In [17]:
import numpy as np

In [18]:
arr = df.values

In [19]:
arr

array([[88, Timestamp('2017-01-01 00:00:00'), 0, 0, 1, 10],
       [85, Timestamp('2017-01-01 00:03:00'), 0, 0, 1, 10],
       [91, Timestamp('2017-01-01 00:05:00'), 0, 0, 1, 10],
       ...,
       [103, Timestamp('2017-08-30 13:34:00'), 0, 3, 8, 1],
       [102, Timestamp('2017-08-30 13:35:00'), 0, 3, 8, 1],
       [102, Timestamp('2017-08-30 13:36:00'), 0, 3, 8, 1]], dtype=object)

In [24]:
hours_oh = pd.get_dummies(df['hour'])

hours_oh

In [28]:
hours_oh.dtypes

0    uint8
1    uint8
2    uint8
3    uint8
4    uint8
5    uint8
dtype: object

months_oh = F

In [32]:
months_oh = pd.get_dummies(df['month'])

month_oh

In [33]:
months_oh

        1   2   3   4   5   6   7   8   9   10  11  12
0        1   0   0   0   0   0   0   0   0   0   0   0
1        1   0   0   0   0   0   0   0   0   0   0   0
2        1   0   0   0   0   0   0   0   0   0   0   0
3        1   0   0   0   0   0   0   0   0   0   0   0
4        1   0   0   0   0   0   0   0   0   0   0   0
5        1   0   0   0   0   0   0   0   0   0   0   0
6        1   0   0   0   0   0   0   0   0   0   0   0
7        1   0   0   0   0   0   0   0   0   0   0   0
8        1   0   0   0   0   0   0   0   0   0   0   0
9        1   0   0   0   0   0   0   0   0   0   0   0
10       1   0   0   0   0   0   0   0   0   0   0   0
11       1   0   0   0   0   0   0   0   0   0   0   0
12       1   0   0   0   0   0   0   0   0   0   0   0
13       1   0   0   0   0   0   0   0   0   0   0   0
14       1   0   0   0   0   0   0   0   0   0   0   0
15       1   0   0   0   0   0   0   0   0   0   0   0
16       1   0   0   0   0   0   0   0   0   0   0   0
17       1   0   0   0   0   0   0   0   0   0   0   0
18       1   0   0   0   0   0   0   0   0   0   0   0
19       1   0   0   0   0   0   0   0   0   0   0   0
20       1   0   0   0   0   0   0   0   0   0   0   0
21       1   0   0   0   0   0   0   0   0   0   0   0
22       1   0   0   0   0   0   0   0   0   0   0   0
23       1   0   0   0   0   0   0   0   0   0   0   0
24       1   0   0   0   0   0   0   0   0   0   0   0
25       1   0   0   0   0   0   0   0   0   0   0   0
26       1   0   0   0   0   0   0   0   0   0   0   0
27       1   0   0   0   0   0   0   0   0   0   0   0
28       1   0   0   0   0   0   0   0   0   0   0   0
29       1   0   0   0   0   0   0   0   0   0   0   0
...     ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
494515   0   0   0   0   0   0   0   1   0   0   0   0
494516   0   0   0   0   0   0   0   1   0   0   0   0
494517   0   0   0   0   0   0   0   1   0   0   0   0
494518   0   0   0   0   0   0   0   1   0   0   0   0
494519   0   0   0   0   0   0   0   1   0   0   0   0
494520   0   0   0   0   0   0   0   1   0   0   0   0
494521   0   0   0   0   0   0   0   1   0   0   0   0
494522   0   0   0   0   0   0   0   1   0   0   0   0
494523   0   0   0   0   0   0   0   1   0   0   0   0
494524   0   0   0   0   0   0   0   1   0   0   0   0
494525   0   0   0   0   0   0   0   1   0   0   0   0
494526   0   0   0   0   0   0   0   1   0   0   0   0
494527   0   0   0   0   0   0   0   1   0   0   0   0
494528   0   0   0   0   0   0   0   1   0   0   0   0
494529   0   0   0   0   0   0   0   1   0   0   0   0
494530   0   0   0   0   0   0   0   1   0   0   0   0
494531   0   0   0   0   0   0   0   1   0   0   0   0
494532   0   0   0   0   0   0   0   1   0   0   0   0
494533   0   0   0   0   0   0   0   1   0   0   0   0
494534   0   0   0   0   0   0   0   1   0   0   0   0
494535   0   0   0   0   0   0   0   1   0   0   0   0
494536   0   0   0   0   0   0   0   1   0   0   0   0
494537   0   0   0   0   0   0   0   1   0   0   0   0
494538   0   0   0   0   0   0   0   1   0   0   0   0
494539   0   0   0   0   0   0   0   1   0   0   0   0
494540   0   0   0   0   0   0   0   1   0   0   0   0
494541   0   0   0   0   0   0   0   1   0   0   0   0
494542   0   0   0   0   0   0   0   1   0   0   0   0
494543   0   0   0   0   0   0   0   1   0   0   0   0
494544   0   0   0   0   0   0   0   1   0   0   0   0

[494545 rows x 12 columns]

In [35]:
holiday_oh = pd.get_dummies(df['holiday'])